body {
    margin: 0;
}

.middle .logo-image {
    max-width: 273px;
    margin: 112px auto 23px;
    display: block;
}

.middle .search-box {
    max-width: 580px;
    margin: 20px auto;
    position: relative;
}

.middle .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle .search-bar {
    flex: 1;
    max-width: calc(100% - 24px);
    height: 44px;
    border-radius: 30px;
    border: 1px solid rgb(225, 225, 226);
    outline: none;
    padding: 0 48px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

.middle .search-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #9aa0a6;
    cursor: pointer;
    z-index: 2;
}

.additional-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0;
}

.additional-box a {
    background-color: rgb(248, 249, 250);
    text-decoration: none;
    color: black;
    border-radius: 5%;
    padding: 9px 17px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 10px;
}

.additional-box a:hover {
    border: 1px solid rgb(225, 225, 226);
}
